<a
  id="github-profile-link"
  class="icon"
  title="Github"
  aria-label="Github"
  rel="me"
  href="https://github.com/isaacbroyles"
  target="_blank"
>
  {% include svg/github.svg %}
</a>
<a
  id="linkedin-link"
  class="icon"
  title="LinkedIn"
  aria-label="LinkedIn"
  rel="me"
  href="https://www.linkedin.com/in/isaacbroyles/"
  target="_blank"
>
  {% include svg/linkedin.svg %}
</a>
<a
  id="twitter-link"
  class="icon"
  title="Twitter"
  aria-label="Twitter"
  rel="me"
  href="https://twitter.com/isaacbroyles"
  target="_blank"
>
  {% include svg/twitter.svg %}
</a>
<a
  id="facebook-link"
  class="icon"
  title="Facebook"
  aria-label="Facebook"
  rel="me"
  href="https://www.facebook.com/isaacbroyles"
  target="_blank"
>
  {% include svg/facebook.svg %}
</a>
<a
  id="keybase-link"
  class="icon"
  title="Keybase"
  aria-label="Keybase"
  rel="me"
  href="https://keybase.io/isaacbroyles"
  target="_blank"
>
  {% include svg/keybase.svg %}
</a>
<a
  id="youtube-link"
  class="icon"
  title="YouTube"
  aria-label="YouTube"
  rel="me"
  href="http://youtube.com/c/IsaacBroyles"
  target="_blank"
>
  {% include svg/youtube.svg %}
</a>
<a
  id="stackoverflow-link"
  class="icon"
  title="Stack Overflow"
  aria-label="Stack Overflow"
  rel="me"
  href="https://stackoverflow.com/users/977549/isaac-broyles"
  target="_blank"
>
  {% include svg/stackoverflow.svg %}
</a>
<a
  id="instagram-link"
  class="icon"
  title="Instagram"
  aria-label="Instagram"
  rel="me"
  href="https://www.instagram.com/isaacbroyles/"
  target="_blank"
>
  {% include svg/instagram.svg %}
</a>
<a
  id="dev-link"
  class="icon"
  title="DEV"
  aria-label="DEV"
  rel="me"
  href="https://dev.to/isaacbroyles"
  target="_blank"
>
  {% include svg/dev.svg %}
</a>
