<a id="github-profile-link"
class="icon" title="Github" aria-label="Github" rel="me"
href="https://github.com/isaacbroyles">
{% include svg/github.svg %}
</a>
<a id="linkedin-link"
class="icon" title="LinkedIn" aria-label="LinkedIn" rel="me"
href="https://www.linkedin.com/in/isaacbroyles/">
{% include svg/linkedin.svg %}
</a>
<a id="twitter-link"
class="icon" title="Twitter" aria-label="Twitter" rel="me"
href="https://twitter.com/isaacbroyles">
{% include svg/twitter.svg %}
</a>
<a id="facebook-link"
class="icon" title="Facebook" aria-label="Facebook" rel="me"
href="https://www.facebook.com/isaacbroyles">
{% include svg/facebook.svg %}
</a>
<a id="googleplus-link"
class="icon" title="Google+" aria-label="Google+" rel="me"
href="https://plus.google.com/+IsaacBroyles">
{% include svg/googleplus.svg %}
</a>
<a id="keybase-link"
class="icon" title="Keybase" aria-label="Keybase" rel="me"
href="https://keybase.io/isaacbroyles">
{% include svg/keybase.svg %}
</a>
<a id="youtube-link"
class="icon" title="YouTube" aria-label="YouTube" rel="me"
href="http://youtube.com/c/IsaacBroyles">
{% include svg/youtube.svg %}
</a>
<a id="stackoverflow-link"
class="icon" title="Stack Overflow" aria-label="Stack Overflow" rel="me"
href="https://stackoverflow.com/users/977549/isaac-broyles">
{% include svg/stackoverflow.svg %}
</a>
<a id="instagram-link"
class="icon" title="Instagram" aria-label="Instagram" rel="me"
href="https://www.instagram.com/isaacbroyles/">
{% include svg/instagram.svg %}
</a>